<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sh.pytalapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="q">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="RedundantLabel"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.GameXocDiaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.GameTaiXiuActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.GameBaccaratActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.OptionSoiCauActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.DashboardGameActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.GameSoiCauActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.admin.DashboardAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.admin.ManageUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.admin.ManageSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.admin.ManageSoiCau3MienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>